@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="slider" class="hero p-0 odd">
        <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <!-- Media -->
                    <video class="full-image to-bottom" data-mask="70" playsinline autoplay muted loop>
                        <source src="~/videos/city.mp4" type="video/mp4" />
                    </video>

                    <div class="slide-content row">
                        <div class="col-12 d-flex justify-content-start justify-content-md-center inner">
                            <div class="center text-left text-md-center">

                                <!-- Content -->
                                <h1 data-aos="zoom-in" data-aos-delay="2000" class="title effect-static-text">Lead ~ <span class="featured"><span>Customer</span></span></h1>
                                <p data-aos="zoom-in" data-aos-delay="2400" class="description me-auto ms-auto">Successful strategies require data analysis, creativity and customer focus, taking advantage of the latest technologies to offer excellent services.</p>

                                <!-- Action -->
                                <div data-aos="fade-up" data-aos-delay="2800" class="buttons">
                                    <div class="d-sm-inline-flex">
                                        <a href="#contact" class="smooth-anchor mt-4 btn primary-button">GET IN TOUCH</a>
                                        <a href="#features" class="smooth-anchor ms-sm-4 mt-4 btn outline-button">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <section id="main-second-part" style="padding-top: 100px; padding-bottom: 100px">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card card-item" style="width: 22rem">
                        <div class="card-body">
                            <i class="fas fa-tachometer-alt icon-card"></i>
                            <h4 class="card-title">Human Capital</h4>
                            <p class="card-text">
                                Humanizing business: Harness the power of technology to improve
                                the way people work.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card card-item" style="width: 22rem">
                        <div class="card-body">
                            <i class="fas fa-tachometer-alt icon-card"></i>
                            <h4 class="card-title">Core Business</h4>
                            <p class="card-text">
                                It takes innovative approaches to transform, modernize, and run
                                existing platforms.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card card-item" style="width: 22rem">
                        <div class="card-body">
                            <i class="fas fa-tachometer-alt icon-card"></i>
                            <h4 class="card-title">Performance</h4>
                            <p class="card-text">
                                Achieving maximum impact and value from investments in finance
                                and supply chain.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main-third-part">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="span-about mt-5 mb-4">ABOUT THE NETWORK</span>
                    <h2><span class="span-h2"> The</span> Company</h2>
                    <p class="mt-4">
                        For 12 years we have been providing audit and warranty,
                        financial advice, risk advice, taxes and related services to
                        select clients.
                    </p>
                    <div class="row" style="padding-bottom: 100px">
                        <div class="col-md-6">
                            <h4><i class="me-2 fas fa-tachometer-alt"></i>Tradition</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="me-2 fas fa-tachometer-alt"></i>Security</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="me-2 fas fa-tachometer-alt"></i>Certificate</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        </div>
                        <div class="col-md-6">
                            <h4><i class="me-2 fas fa-tachometer-alt"></i>Tradition</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="./images/about-3.jpg" alt="about-3" />
                </div>
            </div>
        </div>
    </section>

    <section id="main-fourth-part">
        <div class="container" style="padding-top: 70px">
            <div class="row">
                <span class="span-h2">OUR BUSINESS AREAS</span>
                <h2>Excellence in <span class="span-services">Services</span></h2>
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            We are leaders in providing consultancy services with a set of
                            cutting-edge technologies and a team of experienced and
                            renowned professionals. These are some options that you can
                            hire.
                        </p>
                    </div>
                    <div class="col-md-2 services-button">
                        <button class="services-button-item">SEE ALL</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="services-item">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card mt-3" style="width: 23rem">
                        <!-- <i class="icon icon-organization"></i> -->
                        <i class="fas fa-sitemap"></i>
                        <h4>Audit & Assurance</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <div class="buttons">
                            <div class="d-sm-inline-flex">
                                <button class="services-button-item">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-item">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card mt-3" style="width: 23rem">
                        <!-- <i class="icon icon-briefcase"></i> -->
                        <i class="fas fa-briefcase"></i>
                        <h4>Financial Advisory</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <div class="buttons">
                            <div class="d-sm-inline-flex">
                                <button class="services-button-item">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-item">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card mt-3" style="width: 23rem">
                        <!-- <i class="icon icon-chart"></i> -->
                        <i class="fas fa-chart-bar"></i>
                        <h4>Analytics and M&A</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <div class="buttons">
                            <div class="d-sm-inline-flex">
                                <button class="services-button-item">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="services-item">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card mt-3" style="width: 23rem">
                        <!-- <i class="icon icon-plane"></i> -->
                        <i class="fas fa-plane"></i>
                        <h4>Middle Marketing</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <div class="buttons">
                            <div class="d-sm-inline-flex">
                                <button class="services-button-item">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-item">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card mt-3" style="width: 23rem">
                        <!-- <i class="icon icon-globe-alt"></i> -->
                        <i class="fas fa-globe"></i>
                        <h4>Legal Consulting</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <div class="buttons">
                            <div class="d-sm-inline-flex">
                                <button class="services-button-item">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-item">
                <div class="col-12 col-md-6 col-lg-4 item">
                    <div class="card mt-3" style="width: 23rem">
                        <!-- <i class="icon icon-drawer"></i> -->
                        <i class="fas fa-globe"></i>
                        <h4>Regulatory Risk</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                        <div class="buttons">
                            <div class="d-sm-inline-flex">
                                <button class="services-button-item">READ MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="main-fifth-part">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <span class="pre-title">Monthly Plans</span>
                    <h2><span>Pricing</span> Table</h2>
                    <p>We can help you deliver and execute your future, wherever you compete, using the latest technologies, from strategy development to implementation.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 align-self-center text-center item">
                    <div data-aos="fade-up" class="card">
                        <a href="#" class="choose-plan"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                        <!-- <i class="icon icon-rocket"></i> -->
                        <i class="fas fa-rocket top-icon"></i>
                        <h4>Standard</h4>
                        <span class="price">
                            <i>$</i>490<span class="plan"> / mo</span>
                        </span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Standard Accounting</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Platform Access</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Business Orientation</span>
                                <i class="icon-min m-0 fas fa-times text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Dedicated Consultant</span>
                                <i class="icon-min m-0 fas fa-times text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Personal Assistance</span>
                                <i class="icon-min m-0 fas fa-times text-right"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 align-self-center text-center item">
                    <div data-aos="fade-up" class="card">
                        <span class="badge">Most<br>Popular</span>
                        <a href="#" class="choose-plan"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                        <!-- <i class="icon icon-rocket"></i> -->
                        <i class="fas fa-briefcase top-icon"></i>
                        <h4>Professional</h4>
                        <span class="price">
                            <i>$</i>890<span class="plan"> / mo</span>
                        </span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Standard Accounting</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Platform Access</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Business Orientation</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Dedicated Consultant</span>
                                <i class="icon-min m-0 fas fa-times text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Personal Assistance</span>
                                <i class="icon-min m-0 fas fa-times text-right"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 align-self-center text-center item">
                    <div data-aos="fade-up" class="card">
                        <a href="#" class="choose-plan"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                        <!-- <i class="icon icon-rocket"></i> -->
                        <i class="far fa-gem top-icon"></i>
                        <h4>Ultimate</h4>
                        <span class="price">
                            <i>$</i>1.390<span class="plan"> / mo</span>
                        </span>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Standard Accounting</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Platform Access</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Business Orientation</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Dedicated Consultant</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center text-left">
                                <span>Personal Assistance</span>
                                <i class="icon-min m-0 fas fa-check text-right"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="carousel" class="section-2 carousel showcase">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9" style="text-align: left;">
                    <span class="pre-title m-auto m-md-0">Our editorial content</span>
                    <h2>Latest <span>News</span></h2>
                    <p>Every week we publish content about what is best in the business world.</p>
                </div>
                <div class="col-12 col-md-3 align-self-end">
                    <a href="#" class="btn primary-button">SEE ALL</a>
                </div>
                <div class="swiper-container mid-slider items" data-perview="3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-1.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Increasing creativity is possible for everyone</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div style="border: none;" class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-2.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Because market research is part of the business plan</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-3.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Working from home is now a trend</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-4.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Tips for having a good relationship at work</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-5.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>David Cooper tells about the opening of the new office in Baltimore</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-1.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Increasing creativity is possible for everyone</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-2.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Because market research is part of the business plan</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-3.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Working from home is now a trend</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-4.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>Tips for having a good relationship at work</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="image-over">
                                    <img src="./images/blog/news-5.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                    <a href="#"><i class="btn-icon fas fas fa-arrow-right"></i></a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>David Cooper tells about the opening of the new office in Baltimore</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <span class="pre-title m-0">Newsletter</span>
                    <h2><span>Know</span> First</h2>
                    <p>Follow closely and receive content about our company and the news of the current market.</p>
                </div>
                <div class="col-12 col-md-6">
                    <form id="nexgen-subscribe" class="row m-auto items">
                        <div class="col-12 mt-0 align-self-center item">
                            <input type="text" name="name" class="form-control less-opacity field-name" placeholder="Name" id="sub-name">
                        </div>
                        <div class="col-12 mt-3 align-self-center item">
                            <input type="email" name="email" class="form-control less-opacity field-email" placeholder="Email" id="sub-email">
                        </div>
                        <div class="col-12 mt-3 align-self-center item">
                            <button type="submit" class="btn primary-button" id="btn-sub-submit">SUBSCRIBE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="message">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 pe-5">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">Send a message</span>
                        <h2>Get in <span>Touch</span></h2>
                        <p>We will respond to your message as soon as possible.</p>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <form action="php/form.php" id="nexgen-simple-form" class="nexgen-simple-form">
                                <input type="hidden" name="section" value="nexgen_form">
                                <div class="row form-group-margin">
                                    <div class="col-12 col-md-6 m-0 p-2">
                                        <input type="text" name="name" class="form-control field-name" placeholder="Name">
                                    </div>
                                    <div class="col-12 col-md-6 m-0 p-2">
                                        <input type="email" name="email" class="form-control field-email" placeholder="Email">
                                    </div>
                                    <div class="col-12 col-md-6 m-0 p-2">
                                        <input type="text" name="phone" class="form-control field-phone" placeholder="Phone">
                                    </div>
                                    <div class="col-12 col-md-6 m-0 p-2">
                                        <i class="icon-arrow-down mr-3"></i>
                                        <select name="info" class="form-control field-info">
                                            <option value="" selected disabled>More Info</option>
                                            <option>Audit & Assurance</option>
                                            <option>Financial Advisory</option>
                                            <option>Analytics and M&A</option>
                                            <option>Middle Marketing</option>
                                            <option>Legal Consulting</option>
                                            <option>Regulatory Risk</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="col-12 m-0 p-2">
                                        <textarea name="message" class="form-control field-message" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12 col-12 m-0 p-2">
                                        <span class="form-alert"></span>
                                    </div>
                                    <div class="col-12 m-0 p-2">
                                        <a class="btn primary-button">SEND</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="contacts">
                        <h4>Example Inc.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Praesent diam lacus, dapibus sed imperdiet consectetur.</p>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-phone-alt mr-2"></i>
                                    +1 (305) 1234-5678
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-envelope mr-2"></i>
                                    hello@example.com
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fas fa-map-marker-alt mr-2"></i>
                                    Main Avenue, 987
                                </a>
                            </li>
                            <li class="nav-item">
                                <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View Map</button>
                                <!-- Modal -->
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div id="map" class="p-0 modal fade show" role="dialog" aria-labelledby="map" aria-modal="true" style="padding-right: 0.333374px; display: block;">
                        <div class="modal-dialog modal-dialog-slideout" role="document">
                            <div class="modal-content full">
                                <div class="modal-header absolute" data-dismiss="modal">
                                    <i class="icon-close fas fa-arrow-right"></i>
                                </div>
                                <div class="modal-body p-0">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.123073808986!2d12.490042215441486!3d41.89021017922119!2m3!				1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61b6532013ad%3A0x28f1c82e908503c4!2sColiseu!5e0!3m2!1spt-BR!2sbr!				4v1594148229878!5m2!1spt-BR!2sbr" width="600" height="450" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
@section subscribe{ 
    <script defer>
        $(document).ready(() => {
            $("#btn-sub-submit").click(() => {
                const name = $("#sub-name").val();
                const email = $("#sub-email").val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Subscribe","Home")",
                    data: {name,email}
                }).done(() => {
                    swal({
                        icon: "success",
                        title: "Subscribed!",
                        text:name
                    });
                }).fail(() => {
                    alert("not good!");
                })
            })
        })
    </script>
}